body {
  background-color: #000000;
  background: url("/ExpressHolidays/images/background.jpg") no-repeat 50% 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.left {
  width: 200px;
  float: left;
}

.right {
  margin-left: 240px;

}

.navigation {
  background-color: #dadada;
  margin-bottom: 40px;
  font-size: 18px;
}

.content {
  background-color: #dadada;
}

.logo {
  width: 200px;
  margin-bottom: 40px;
}

.sidebar {
  background-color: #dadada;
}
