body {
  background: #000 url("/ExpressHolidays/images/background.jpg") no-repeat 50% 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.left {
  width: 100px;
  float: left;
}

.right {
  margin-left: 240px;
  background-color: #dadada;
}

.navigation {
  margin-bottom: 40px;
  padding: 60px;
  font-size: 20px;
  height: 30px;
}

.navigation-default {
  background: #dadada url("/ExpressHolidays/images/express/barharbor/bh1.jpg") no-repeat 50% 0;
  background-size: cover;
}

.navigation-barharbor {
  background: #dadada url("/ExpressHolidays/images/express/barharbor/bh1.jpg") no-repeat 50% 0;
  background-size: cover;
}

.navigation-canada {
  background: #dadada url("/ExpressHolidays/images/express/canada/cr1.jpg") no-repeat 50% 0;
  background-size: cover;
}

.navigation-grandcanyon {
  background: #dadada url("/ExpressHolidays/images/express/grandcanyon/gc1.jpg") no-repeat 50% 0;
  background-size: cover;
}

.navigation a {
  color: #fff;
}

.content {
  background-color: #dadada;
}

.logo {
  margin-bottom: 40px;
}

.sidebar {
  background-color: #dadada;
}
